* {
	font-family: 'Work Sans', sans-serif;
}
body { min-width:800px; overflow-x: hidden;overflow-y: auto; }
.container-fluid {
	margin-bottom: 4px;
}
a.icon {
	display: inline-block;
	width: 60px;
	height: 60px;
	text-align: center;
	padding: 10px;
	margin: 8px;
	border-radius: 80px/20px;
	text-decoration: none;
	overflow: hidden;
	/* background-color: rgba(255,255,255,.5) */
}
a.icon:hover {
	box-shadow: 0px 0px 13px rgba(0,0,0,.15) inset;
}
.legend {
	display:none;
}
.icon img {
	max-width: 50px;
	margin-top: -50px;
	margin-left: -5px;
}
.description {
	text-align:center;
	width:100%;
	font-size: 22px;
	opacity: 1;
}
img.secondary {
	max-width: 20px;
	position: relative;
	bottom: 66px;
	right: -20px;
	/*box-shadow: 0px 0px 6px*/
}
.ui-sortable-helper a {
	box-shadow: 5px 5px 30px rgba(0,0,0,.6) !important;
}
.container { list-style-type: none; margin: 0; padding: 0; width: 100%; min-height:80px; overflow: hidden;	margin-bottom: 10px; padding-bottom: 10px; }
.container li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 65px; height: 65px; font-size: 4em; text-align: center; }

#sources { list-style-type: none; margin: 0; padding: 0; width: 100%; overflow: hidden;	margin-bottom: 10px; }
#sources li { margin: 3px 3px 3px 0; padding: 1px; float: left; text-align: center; }

.fadeOut {
	opacity: 0;
	transition: opacity 2s ease-in-out;
}

#linkContainer { padding-bottom: 6px; }
#linkContainer li {  }

#hiddenContainer {
	background-color: rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 5px 5px 5px rgba(0,0,0,.25) inset;
	margin-top: 10px;
}
#hiddenContainer li { filter: grayscale(1); }
.hiddenZone {
	overflow: hidden;
	max-height: 0px;
	transition: max-height .25s ease-in-out;
}
.visible {
	max-height: 1000px!important;
}
#myLinks {
	width:100%;
	height: 25px;
	font-family: monospace;
}
#myLinks:focus {
	box-shadow: -5px -5px 10px rgba(100,100,100,.25) inset, -5px -5px 10px rgba(100,100,100,.25);
	height:200px
}
.saveLinksButton { float:right}
.footer {
	position: fixed;
	bottom: 0px;
	right: 2px;
	overflow: hidden;
	width: 500px;
	height: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: right;
}
img.logo {
	position: absolute;
	margin-top: 0px;
	margin-left: -15px;
	background-color: rgba(0,0,0,.1);
	border-radius: 0px 0px 22px;
	padding: 5px;
	box-shadow: -1px -2px 8px rgba(0,0,0,.3) inset;
}
